.container.page-container
  .row
    .col-xs-8.col-xs-offset-2
      %h3.yelq-title
        Recently Added Businesses
  - @businesses.each do |business|
    = render partial: "business_info", locals: { business: business }
