.full-width-container.gray-background
  .container.page-container
    .row.top-spacer
      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-10.col-xs-offset-1
            .gray-bottom-border
              %h3.yelq-title
                Business Index
        - 3.times do
          .row
            .business-entry.clearfix
              .col-xs-2.col-xs-offset-1
                =image_tag "example_avatar.png", size: "120x120"
              .col-xs-6
                .business-details-left.clearfix
                  .ul
                    .li
                      .business-name
                        Cappuccinos
                    .li
                      Cafe
                    .li
                      .review-stars
                        4/5 Stars
                      .review-number.text-muted
                        8 reviews
              .col-xs-2
                .pull-right
                  .ul
                    .li
                      22 Street Name
                    .li
                      City
                    .li
                      County
                    .li
                      01234 567890
          .row
            .col-xs-10.col-xs-offset-1
              .gray-bottom-border
