#business-header.gray-background.gray-bottom-border
  .container.page-width-container
    .row.top-spacer.bottom-spacer
      .col-xs-3
        .business-photo
          =image_tag "example_business_photo.png", width: "100%"
      .col-xs-6
        .ul
          .li
            %h3 My Fave Coffee Shop
          .li
            %h5= "4.3 Stars - #{link_to '12 reviews', '#'}".html_safe
          .li.street-address
            12 Street Name, Town, Country
          .li.phone-number
            01212 888777
          .li.web-address
            wwww.cafe.com
#busines-content.white-background.gray-bottom-border
  .container.page-width-container
    .row.top-spacer
      .col-xs-12
        .gray-bottom-border.clearfix
          .business-reviews-title.bottom-spacer
            %h3.yelq-title
              Reviews
          .reviews-sort
            .dropdown
              %h5.a.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                Sort
              %ul.dropdown-menu
                %li
                  %a
                    Newest first
                %li
                  %a
                    Oldest first
                %li
                  %a
                    Higest Rating
                %li
                  %a
                    Lowest Rating
    - 3.times do
      .row
        .review-container.clearfix
          .col-xs-3.text-center
            =image_tag "example_avatar.png", size: "128x128"
          .col-xs-9
            .review-title.clearfix
              .review-title-line.clearfix
                .review-name-place
                  Alice A. wrote a review for Cappuccinos
                .review-time-ago.small.text-muted
                  4 hours ago
              .review-title-line.clearfix
                .review-stars
                  4/5 Stars
                .review-date.text-muted
                  28/9/2015
            .review-text.top-spacer
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              %br
              %p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .row
        .col-xs-9.col-xs-offset-3
          .gray-bottom-border
