.full-width-container.gray-background
  .container.page-container
    .row.top-spacer
      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-10.col-xs-offset-1
            .gray-bottom-border
              %h3.yelq-title
                Add a Business
        .row.top-spacer.bottom-spacer
          .col-xs-8.col-xs-offset-2
            .form
              %fieldset
                .form-group
                  %label
                    Business Name
                  %input.form-control(type="text" placeholder="Cappuccinos")
                .form-group
                  %label
                    Address
                  %input.form-control(type="text" placeholder="22 Coffee Street")
                .form-group
                  %label
                    City
                  %input.form-control(type="text" placeholder="London")
                .form-group
                  %label
                    Postcode
                  %input.form-control(type="text" placeholder="NW1 2EV")
                .form-group
                  %label
                    Country
                  %select.form-control
                    %option United Kingdom
                    %option United States
                    %option Germany
                    %option Japan
                .form-group
                  %label
                    Phone Number
                  %input.form-control(type="tel" placeholder="01234 567890")
                .form-group
                  %label
                    Website Address
                  %input.form-control(type="text" placeholder="http://www.companyname.com")
                .form-group
                  %label
                    Category
                  %select.form-control
                    %option Cafe
                    %option Restaurant
                    %option Fashion
                    %option Electronics
                %button.btn.btn-yelq-red.pull-right Add Business
