.full-width-container.gray-background
  .container.page-container
    .row.top-spacer
      .col-xs-6
        .row.top-spacer
          .col-xs-10.col-xs-offset-1
            .gray-bottom-border
              %h3.yelq-title
                Recent Reviews
        - 3.times do
          .row
            .review.clearfix
              .col-xs-2.col-xs-offset-1
                =image_tag "example_avatar.png", size: "60x60"
              .col-xs-8
                .review-title.clearfix
                  .review-heading.clearfix
                    .review-name-place
                      Alice A. wrote a review for Cappuccinos
                    .review-time-ago.small.text-muted
                      4 hours ago
                  .review-sub-heading.clearfix
                    .review-stars
                      4/5 Stars
                    .review-date.text-muted
                      28/9/2015
                .review-text.top-spacer
                  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %br
                  %p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          .row
            .col-xs-10.col-xs-offset-1
              .gray-bottom-border
      .col-xs-6
        .row.top-spacer
          .col-xs-10.col-xs-offset-1
            .gray-bottom-border
              %h3.yelq-title
                Popular Businesses
        - 3.times do
          .row
            .business-entry.clearfix
              .col-xs-2.col-xs-offset-1
                =image_tag "example_avatar.png", size: "60x60"
              .col-xs-4
                .business-details-left.clearfix
                  .ul
                    .li
                      .business-name
                        Cappuccinos
                    .li
                      Cafe
                    .li
                      4/5 Stars
                    .li
                      .text-muted
                        8 reviews
              .col-xs-4
                .pull-right
                  .ul
                    .li
                      22 Street Name
                    .li
                      City
                    .li
                      County
                    .li
                      01234 567890
          .row
            .col-xs-10.col-xs-offset-1
              .gray-bottom-border
