.full-width-container.gray-background
  .container.page-container
    .row.top-spacer.bottom-spacer
      .col-xs-6
        .row
          .col-xs-10.col-xs-offset-1
            %h4.yelq-title.bottom-spacer Sign Up for Yelq
            %h5 Connect with great local businesses
            .form-horizontal.top-spacer
              %fieldset
                .form-group
                  .col-xs-6.small-right-gutter
                    %input.form-control(type="string" placeholder="First Name")
                  .col-xs-6.small-left-gutter
                    %input.form-control(type="string" placeholder="Last Name")
                .form-group
                  .col-xs-12
                    %input.form-control(type="email" placeholder="Email")
                .form-group
                  .col-xs-12
                    %input.form-control(type="password" placeholder="Password")
                .form-group.action
                .col-xs-2.col-xs-offset-9
                  %input(type="submit" value="Log in" class="btn btn-yelq-gray")
      .col-xs-6
