#upper-half.top-spacer.gray-underline
  .container.page-container
    .row
      .user-avatar.col-xs-3
        =image_tag "example_avatar.png"
      .user-profile-info.col-xs-9
        %h1 Alice Alicia
        %h4 London, UK
        %h5= link_to "4 Reviews"
#lower-half.white-background.gray-underline
  .container.page-container
    .row.top-spacer
      .col-xs-3
        %h4.yelq-title.normalize-top-margin About A A
        %h5 Location
        Kunitachi, 東京都, Japan
        %h5 Yelqing Since
        September 2015
        %h5 Things I Love
        You haven't told us yet ... do tell!
      .col-xs-9
        .gray-underline
          %h3.yelq-title.normalize-top-margin
            Reviews
        - 3.times do
          .user-review-container.gray-underline
            .review-title-line.clearfix
              .review-name-place
                Cappucinos
              .review-time-ago.small.text-muted
                4 hours ago
            .review-title-line.clearfix
              .review-stars
                4/5 Stars
              .review-date.text-muted
                28/9/2015
            .review-text.top-spacer
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              %br
              %p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
