.full-page-container
  .row.gray-background
    .section.upper-half
      .container
        .row
          .col-xs-3.user-avatar
            =image_tag "example_avatar.png"
          .user-profile-info.col-xs-9
            %h1 Alice Alicia
            %h4 London, UK
            %h5= link_to "4 Reviews"
.full-page-container
  .container
    .row.top-spacer
      .section.lower-half
        .container
          .row
            .col-xs-3
              %h4.yelq-title.normalize-top-margin About A A
              %h5 Location
              Kunitachi, 東京都, Japan
              %h5 Yelqing Since
              September 2015
              %h5 Things I Love
              You haven't told us yet ... do tell!
            .col-xs-9
              .gray-underline
                %h3.yelq-title.normalize-top-margin
                  Reviews
