.business-reviews-title {
  width: 200px;
  float: left;
}

.reviews-sort {
  float:right;
  padding-top: 5px;
}

.user-avatar-col {
  width: 130px;
  float: left;
}

.review-col {
  float: right;
  width: 400px;
}

.review-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
