.btn {
  font-family: $base-font-family;
  font-weight: bold;
}

.btn-header {
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  background-color: $dark-red;
}

.btn-header:hover {
  color: white;
  background-color: $dark-red;
  background-image: linear-gradient(to bottom, $dark-red, $darker-red);
}

.btn-header-mini:hover {
  border-radius: 6px;
  background-color: $dark-red;
}

.btn-yelq-red {
  color: #fff;
  background-image: linear-gradient(to bottom, $light-red, $main-red);
  border-color: #d43f3a;
}

.btn-yelq-red > a {
  color: #fff;
  text-decoration: none;
}

.btn-yelq-gray {
  color: #333;
  background-color: $light-gray;
  border-color: #ccc;
}

.btn-yelq-gray:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
