* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 960px !important;
}

.normalize-top-margin {
  margin-top: 10px;
}

.gray-background {
  background-color: $light-gray;
}

.gray-underline {
  border-bottom: 1px solid $medium-gray;
}

.yelq-title {
  color: $main-red;
}



.pink {
  background: pink;
}

.blue {
  background: blue;
}
