.page-container {
  width: 960px !important;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  background-color: white;

}

.page-width-container {
  width: 960px !important;
}

.top-spacer {
  margin-top: 20px;
}

.bottom-spacer {
  margin-bottom: 20px;
}

.normalize-top-margin {
  margin-top: 10px;
}

.gray-background {
  background-color: $light-gray;
}

.gray-side-borders {
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
}

.white-background {
  background-color: white;
}

.gray-underline {
  border-bottom: 1px solid $medium-gray;
}

.yelq-title {
  color: $main-red;
}

.pink {
  background: pink;
}

.blue {
  background: blue;
}
