header {
  background: repeating-linear-gradient(
    45deg,
    $main-red,
    $main-red 10px,
    darken($main-red, 2%) 10px,
    darken($main-red, 1%) 20px
  );

  border-bottom: 1px solid $dark-red;
  -webkit-box-shadow: 0 0 6px $dark-gray;
}

#header-content-container {
  padding-top: 12px;
  color: #FFF;
  font-size: 14px;
}

#header-logo {
  color: black;
  font-size: 42px;
  font-weight: 700;
  font-family: 'Fugaz One', sans-serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-shadow:
   3px 3px 0 #FFF,
   -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
   1px 1px 0 #FFF;
}

.red-border {
  border: 1px solid #A00F00;
}

.input-group-addon {
  background: #FFF;
  color: #C41200;
}

@mixin header-link-text {
  a, a:hover {
    color: white;
    font-size: 13px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
  }
}

#navigation {
  @include header-link-text;

  li:hover {
    background-color: $dark-red;
	  border-radius: 8px;
  }
}

#header-sign-in-up {
  padding-right: 50px;
  padding-left: 0px;
  ul {
    text-align: center;
    margin: 0px;
    @include header-link-text;
  }

  li {
    padding-bottom: 6px;
  }

  .btn-header {
    font-family: $base-font-family;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    background: $dark-red;
  }

  .btn-header:hover {
    color: white;
    background: $dark-red;
    background-image: linear-gradient(to bottom, $dark-red, $darker-red);
  }

  .btn-header-mini:hover {
    border-radius: 6px;
    background: $dark-red;
  }

  #log-in-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
