.header-background {
  background-image: repeating-linear-gradient(
    45deg,
    $main-red,
    $main-red 10px,
    darken($main-red, 2%) 10px,
    darken($main-red, 1%) 20px
  );

  border-bottom: 1px solid $dark-red;
  -webkit-box-shadow: 0 0 6px $dark-gray;
}

.header-content-container {
  padding-top: 12px;
  padding-bottom: 6px;
  color: #fff;
  font-size: 14px;
}

.header-logo,
.header-logo a,
.header-logo a:hover {
  color: black;
  font-size: 42px;
  font-weight: 700;
  font-family: 'Fugaz One', sans-serif;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  text-shadow:
   3px 3px 0 #fff,
   -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
   1px 1px 0 #fff;
   text-decoration: none;
}

.search-label {
  background-color: #fff;
  border: 1px solid $dark-red;
  color: #c41200;
}

.form-group-mini {
  margin-bottom: 10px;
}

.yelq-search-btn {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: $dark-red;
  color: #fff;
}

.yelq-search-btn:hover {
  background-image: linear-gradient(to bottom, $dark-red, $darker-red);
}

.header-link-text {
  a, a:hover {
    color: white;
    font-size: 13px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
  }
}

.user-name-dropdown-button > a {
  color: white;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
}

.header-navigation-buttons ul li:hover {
    background-color: $dark-red;
	  border-radius: 8px;
  }

.log-in-container {
  padding-top: 6px;
  width: 50px;
  margin: auto;
}
