.review {
  margin-top: 20px;
  margin-bottom: 20px;
}

#review-name-place {
  width: 70%;
  float: left;
}

#review-time-ago {
  float: right;
}

#review-stars {
  float: left;
  margin-right: 10px;
}
